<br>
<br>
<br>
<div class="col-md-4">
  <h1>Titulo1</h1>
  <p>lorem ipsun.................</p>
</div>

<div class="col-md-4">
  
  <h1>Titulo2</h1>
  <p>lorem ipsun.................</p>
</div>

<div class="col-md-2">
  <h1>Titulo3</h1>
  <p>lorem ipsun.................</p>
</div>